@using FacePalm.Enums
@model FacePalm.Models.User
@{
 ViewBag.Title = "Edit";
}
<h2>Edit my profile</h2>

<form method="post" action="/User/Edit/@Model.UserId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <input type="hidden" name="Email" value="@Model.Email" />
    <input type="hidden" name="UserId" value="@Model.UserId" />
    @Html.Label("FirstName", "First name")
    <br />
    @Html.Editor("FirstName")
    <br /><br />
    @Html.Label("LastName", "Last name")
    <br />
    @Html.Editor("LastName")
    <br /><br />
    @Html.Label("Birthdate", "Birthdate")
    <br />
    @Html.Editor("BirthDate")
    <br /><br />
    @Html.Label("Education", "Education")
    <br />
    @Html.Editor("Education")
    <br /><br />
    @Html.Label("Job", "Job")
    <br />
    @Html.Editor("Job")
    <br /><br />
    @Html.Label("Gender", "Gender")
    <br />
    @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(FacePalmEnums.GenderTypes))), new { @class = "form-control" })
    <br /><br />
    @Html.Label("RelationshipStatus", "Relationship status")
    <br />
    @Html.DropDownListFor(m => m.RelationshipStatus, new SelectList(Enum.GetValues(typeof(FacePalmEnums.RelationshipStatus))), new { @class = "form-control" })
    <br /><br />
    @Html.Label("ProfilePrivacy", "Profile privacy")
    <br />
    @Html.DropDownListFor(m => m.ProfilePrivacy, new SelectList(Enum.GetValues(typeof(FacePalmEnums.ProfilePrivacyTypes))), new { @class = "form-control" })
    <br /><br />
    <button type="submit">Make changes</button>
</form>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
