<h2>FacePalm's registered users</h2>
@foreach (var user in ViewBag.Users)
{
    <p>@user.FirstName @user.LastName</p>
    <p>Email: @user.Email</p>
    <p>Birthdate: @user.BirthDate</p>
    <p>Their profile is: @user.ProfilePrivacy</p>
    <a href="/User/Show/@user.UserId">User's profile</a>
    <br />
    <hr />
    <br />
}
<br />