<div class="col-md-16" style="padding-top:22px;">
    <div class="clearfix">
        @if (TempData.ContainsKey("message"))
        {
            <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
        }
        <div class="user clearfix row">
            <div class="col-md-4 avatar">
                @if (!string.IsNullOrEmpty(ViewBag.User.ImagePath))
                {
                    <img src="~/Images/profilePictureDefault.png" />
                }
                else
                {
                    <img src="@Url.Content(ViewBag.User.ImagePath)" class="img-thumbnail img-profile">
                }
            </div>
            <div class="col-md-4 userInformations ">
                <h1><span class="glyphicon glyphicon-asterisk"></span>@ViewBag.User.FirstName @ViewBag.User.LastName</h1>
                @if (@ViewBag.User.ProfilePrivacy.ToString().ToLower() == "private" && @ViewBag.User.UserId != @ViewBag.CurrentUser && !ViewBag.IsFriend)
                {
                    if (ViewBag.FriendRequestStatus)
                    {
                        <p id="friendStatusLabel">A request has been sent! :) Let's hope for the best!</p>
                    }
                    else
                    {
                        <p id="friendStatusLabel">The user's profile is private. You can send a friend request.</p>
                        <button style="color:black" id="sendFriendRequest" class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Add Friend"><span class="glyphicon glyphicon-plus glyphicon glyphicon-blackboard"></span>Add Friend</button>
                    }

                }
                else
                {
                    <hr class="my-4">

                    <p>Date of birth: @ViewBag.User.BirthDate.ToShortDateString()</p>
                    <p>Education: @ViewBag.User.Education</p>
                    if (!string.IsNullOrEmpty(@ViewBag.User.Job))
                    {
                        <p>Job: @ViewBag.User.Job</p>
                    }
                    <p>Relationship status: @ViewBag.User.RelationshipStatus</p>
                }

            </div>
            <div class="col-md-4 actions">
                <div class="btn-group">
                    @if ((@ViewBag.User.UserId != @ViewBag.CurrentUser && ViewBag.isFriend) || (User.IsInRole("Administrator") || @ViewBag.User.UserId == @ViewBag.CurrentUser))
                    {
                        <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Friends"><span class="glyphicon glyphicon-plus glyphicon glyphicon-white"></span><a href="/User/Friends/@ViewBag.User.UserId"> Friends</a></button>
                    }
                    <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Send message"><span class="glyphicon glyphicon-envelope glyphicon glyphicon-white"></span><a href="/User/Message"> Message</a></button>
                    @if (@ViewBag.User.UserId != @ViewBag.CurrentUser && ViewBag.isFriend)
                    {

                        <button style="color:black" id="@ViewBag.User.UserId" class=" deleteFriend btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Delete friend"><span class="glyphicon glyphicon-envelope glyphicon glyphicon-white"></span> Delete friend</button>
                    }
                    @if (User.IsInRole("Administrator") || @ViewBag.User.UserId == @ViewBag.CurrentUser)
                    {
                        <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="GetFriendRequests"><a href="/User/GetFriendRequests"> See friend requests</a></button>
                        <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Edit my profile"><a href="/User/Edit/@ViewBag.User.UserId"> Edit my profile</a></button>
                        <form method="post" action="/User/Delete/@ViewBag.User.UserId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-danger btn-sm tip btn-responsive" type="submit">Delete my profile</button>
                        </form>
                    }
                </div>
            </div>

        </div>

        <div class="container" ">

            @if (@ViewBag.User.ProfilePrivacy.ToString().ToLower() == "public" || @ViewBag.User.UserId == @ViewBag.CurrentUser || ViewBag.IsFriend)
            {
                <div class="album py-5 bg-light">
                    <div class="container">
                        <h3>@ViewBag.User.FirstName's albums</h3>
                        <ul class="list-group">
                            @foreach (FacePalm.Models.Album al in ViewBag.Albums)
                            {
                                <span class="row-cols-lg-3"><li class="list-group-item"><a class="btn btn-link" href="/Album/Show/@al.AlbumId">@al.AlbumTitle</a></li></span>
                            }
                        </ul>


                        <div class="album py-5 bg-light">
                            @* TODO: @clementlarisa Should be displayed if current user is friends with user *@
                            <h3> @ViewBag.User.FirstName's posts</h3>
                            @if (@ViewBag.User.UserId == @ViewBag.CurrentUser)
                            {
                                <br />
                                <a class="btn btn-success" href="/Post/New">Create a post</a>
                                <br /><br />
                            }
                            <div class="container">
                                <div class="row">
                                    @foreach (FacePalm.Models.Post post in ViewBag.Posts)
                                    {

                                        @Html.Partial("PostInfo", post)
                                        <br />
                                        <br />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
 </div>


<script type="text/javascript">

   $(document).ready(function() {
       $("#sendFriendRequest").click(function() {

           var friendRequestData = {
               FromUserId: '@ViewBag.CurrentUser',
               ToUserId: '@ViewBag.User.UserId',
           };
           $.ajax({
               type: 'POST',
               dataType: 'json',
               data: JSON.stringify({ "friendRequestData": friendRequestData }),
               url: '/User/AddFriend',
               cache: false,
               contentType: 'application/json; charset=utf-8',
               success: function (serverAnswer) {
                   if (serverAnswer.success) {
                       //do something, remove button, add label "Friend request already sent"
                       $("#sendFriendRequest").hide();
                       $("#friendStatusLabel").text("A request has been sent! :) Let's hope for the best!");
                   }
                   else
                   {
                       alert("The request couldn't be processed, please try again :(")
                   }
               },
               error: function () {
                   alert("error");
               }
           });

        });
    });

    $(document).ready(function () {
        $(".deleteFriend").click(function () {

        $.ajax({
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify({ "friendId": $(this).attr('id')}),
            url: '/User/DeleteFriend',
            cache: false,
            contentType: 'application/json; charset=utf-8',
            success: function (serverAnswer) {
                if (serverAnswer.success) {
                    location.reload();
                }
                else {
                    alert("The request couldn't be processed, please try again :(")
                }
            },
            error: function () {
                alert("error");
            }
        });
        })
    });
</script>
