<div class="col-md-16" style="padding-top:22px;">
    <div class="clearfix">
        <div class="user clearfix row">
            <div class="col-md-4 avatar">
                @if (String.IsNullOrEmpty(ViewBag.User.ImagePath))
                {
                    <img src="~/Images/profilePictureDefault.png" />
                }
                else
                {
                    <img src="@ViewBag.User.ImagePath" class="img-thumbnail img-profile">
                }
            </div>
            <div class="col-md-4 userInformations ">
                <h1>@ViewBag.User.FirstName @ViewBag.User.LastName</h1>
                @if (@ViewBag.User.ProfilePrivacy.ToString().ToLower() == "private" && @ViewBag.User.UserId != @ViewBag.CurrentUser)
                {
                    <p class="lead text-secondary">The user's profile is private. You can send a friend request and chat.</p>

                }
                else
                {
                    <hr class="my-4">
                    
                        <p>Date of birth: @ViewBag.User.BirthDate.ToShortDateString()</p>
                        <p>Education: @ViewBag.User.Education</p>
                        if (!string.IsNullOrEmpty(@ViewBag.User.Job))
                        {
                        <p>Job: @ViewBag.User.Job</p>
                        }
                        <p>Relationship status: @ViewBag.User.RelationshipStatus</p>
                                        }

                </div>
            <div class="col-md-4 actions">
                <div class="btn-group btn-group-vertical">
                    <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Add to friends"><span class="glyphicon glyphicon-plus glyphicon glyphicon-white"></span><a href="/User/Friends"> Friends</a></button>
                    <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Send message"><span class="glyphicon glyphicon-envelope glyphicon glyphicon-white"></span><a href="/User/Message"> Message</a></button>
                    @if (User.IsInRole("Administrator") || @ViewBag.User.UserId == @ViewBag.CurrentUser)
                    {
                        <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Edit my profile"><span class="glyphicon glyphicon-pencil glyphicon glyphicon-white"></span><a href="/User/Edit/@ViewBag.User.UserId"> Edit my profile</a></button>
                        <form method="post" action="/User/Delete/@ViewBag.User.UserId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-danger btn-sm tip btn-responsive" type="submit">Delete my profile</button>
                        </form>

                    }
                </div>
            </div>

        </div>
        <div class="row">

        </div>
        @if (@ViewBag.User.ProfilePrivacy.ToString().ToLower() == "public" || @ViewBag.User.UserId == @ViewBag.CurrentUser)
        {
            <div class="container">
                <h3>See @ViewBag.User.FirstName's albums</h3>
                <ul class="list-group">
                    @foreach (FacePalm.Models.Album al in ViewBag.Albums)
                    {
                        <li class="list-group-item"><a class="btn btn-link" href="/Album/Show/@al.AlbumId">@al.AlbumTitle</a></li>
                    }
                </ul>
            

                <div class="album py-5 bg-light">
                    @* TODO: @clementlarisa Should be displayed if current user is friends with user *@
                        <h3> @ViewBag.User.FirstName's posts</h3>
                        @if (@ViewBag.User.UserId == @ViewBag.CurrentUser)
                        {
                            <br />
                            <a class="btn btn-success" href="/Post/New">Create a post</a>
                            <br /><br />
                        }
                        <div class="container">
                            <div class="row">
                                @foreach (FacePalm.Models.Post post in ViewBag.Posts)
                                {
                                    <div class="col-md-4">
                                        @Html.Partial("PostInfo", post)
                                    </div>
                                    <br />
                                }
                            </div>
                        </div>
                    

                </div>
            </div>
        }
        </div>
    </div>