<div class="col-md-16" style="padding-top:22px;">
    <div class="clearfix">
        <div class="user clearfix row">
            <div class="col-md-4 avatar">
                <img src="../../Images/profilePictureDefault.png" class="img-thumbnail img-profile">
            </div>
            <div class="col-md-4 userInformations ">
                <h1><span class="glyphicon glyphicon-asterisk"></span>@ViewBag.User.FirstName @ViewBag.User.LastName</h1>
                @if (@ViewBag.User.ProfilePrivacy.ToString().ToLower() == "private" && @ViewBag.User.UserId != @ViewBag.CurrentUser)

                {
                    <p>The user's profile is private. You can send a friend request.</p>

                }
                else
                {
                    <h2><span class="glyphicon glyphicon-gift"></span> <span class="title">Date of birth: </span> @ViewBag.User.BirthDate.ToShortDateString()</h2>
                    <h2><span class="glyphicon glyphicon-pencil"></span> <span class="title">Education: </span>@ViewBag.User.Education</h2>
                    if (!string.IsNullOrEmpty(@ViewBag.User.Job))
                    {
                        <h2><span class="glyphicon glyphicon-euro"></span> <span class="title">Job: </span>@ViewBag.User.Job</h2>
                    }
                    <h2><span class="glyphicon glyphicon-heart-empty"></span> <span class="title">Relationship status: </span>@ViewBag.User.RelationshipStatus</h2>
                }

            </div>
            <div class="col-md-4 actions">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Add to friends"><span class="glyphicon glyphicon-plus glyphicon glyphicon-white"></span><a href="/User/Friends"> Friends</a></button>
                    <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Send message"><span class="glyphicon glyphicon-envelope glyphicon glyphicon-white"></span><a href="/User/Message"> Message</a></button>
                    @if (User.IsInRole("Administrator") || @ViewBag.User.UserId == @ViewBag.CurrentUser)
                    {
                        <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Edit my profile"><span class="glyphicon glyphicon-pencil glyphicon glyphicon-white"></span><a href="/User/Edit/@ViewBag.User.UserId"> Edit my profile</a></button>
                        <form method="post" action="/User/Delete/@ViewBag.User.UserId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button type="submit">Delete my profile</button>
                        </form>

                    }
                </div>
            </div>

        </div>

        <div class="row posts ">
            <h3> @ViewBag.User.FirstName's posts</h3>
            @if (@ViewBag.User.UserId == @ViewBag.CurrentUser)
            {
                <br />
                <a class="btn btn-info" href="/Post/New">Create a post</a>
                <br /><br />
            }

            @* TODO: @clementlarisa Should be displayed if current user is friends with user *@
            @if (@ViewBag.User.ProfilePrivacy.ToString().ToLower() == "public" || @ViewBag.User.UserId == @ViewBag.CurrentUser)
            {

                foreach (FacePalm.Models.Post post in ViewBag.Posts)
                {
                    <div class="panel panel-default">
                        @Html.Partial("PostInfo", post)
                    </div>
                    <br />
                }
            }

        </div>
    </div>
</div>