@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <title>@ViewBag.Title - FacePalm Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="height:100%; background-image:url('../../Images/palmBackground4.png')">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">FacePalm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                {
                    <li class="nav-item">@Html.ActionLink("My Profile", "Show/" + User.Identity.GetUserId(), "User", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Account Settings", "Edit/" + User.Identity.GetUserId(), "User", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("My Photo Albums", "Index/", "Album", null, new { @class = "nav-link" })</li>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                {
                    <li class="nav-item">@Html.ActionLink("All Users", "Index", "User", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("All Posts", "Index", "Post", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("All Albums", "AdminIndex", "Album", null, new { @class = "nav-link" })</li>
                }
            </ul>
            @using (Html.BeginForm("Search", "Search", FormMethod.Get, new { @class = "form-inline my-2 my-lg-0" }))
            {
                @Html.TextBox("searchText", "", new{@class = "form-control mr-sm-2"})
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            }

            @Html.Partial("_LoginPartial")

        </div>
    </nav>
    <div class="container body-content" style="width:100%;">
        @RenderBody()
        <hr />
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - FacePalm Application</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
