@model FacePalm.Models.Comment

<div class="container"style="background-color:aliceblue;">
    <div class="row" >
        <div>
            <p>@Model.User.FirstName @Model.User.LastName</p>
        </div><!-- /col-sm-12 -->
    </div><!-- /row -->
    <div class="row">
        <div class="thumbnail">
            <img src="@Url.Content(Model.User.ImagePath)" style="width: 30px; height:30px;">
        </div><!-- /thumbnail -->
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="text-muted">@Html.DisplayFor(model => model.Date)</span>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(model => model.Content)
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-5 -->
            @if (Model.UserId == ViewBag.CurrentUser)
            {
                <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/Comment/Edit/@Html.DisplayFor(model => model.CommentId)"> Edit</a></button>
                
                <button type="button" class=" deleteComment btn btn-sm btn-outline-secondary"> Delete</button>
            }
        </div><!-- /row -->
    </div><!-- /container -->
<script>
    
    $(document).ready(function () {
        $(".deleteComment").click(function (event) {
            event.stopPropagation();
            event.stopImmediatePropagation();
            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ "commentId": @Model.CommentId}),
                url: '/Comment/Delete/@Model.CommentId',
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (serverAnswer) {
                    if (serverAnswer.success) {
                        alert("Comment deleted successfully!");
                        location.reload();
                    }
                    else {
                        alert("The request couldn't be processed, please try again :(")
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        })
    });
</script>