@model FacePalm.Models.Comment

<div class="list-group-item list-group-item-action" style="background-color:aliceblue">
<div class="row media" style="justify-content:space-between">
    <div class="media-left">
        @if (string.IsNullOrEmpty(Model.User.ImagePath))
        {
            <img src="~/Images/profilePictureDefault.png" class="rounded-circle img-responsive" style="width: 60px; height: 60px; border:1px solid 	#78C1AD" />
        }
        else
        {
            <img src="@Url.Content(Model.User.ImagePath)" class="rounded-circle img-responsive" style="width: 60px; height: 60px; border:1px solid 	#78C1AD">
        }
    </div>
    <div class="media-body">
        <h5 class="media-heading"><a href="/User/Show/@Model.User.UserId">@Model.User.FirstName @Model.User.LastName</a></h5>
        <p class="text-muted" style="font-size:0.7rem">on @Html.DisplayFor(model => model.Date)</p>
    </div>
</div><!-- /col-sm-12 -->
<div class="row" style="justify-content:flex-start; align-content:flex-start">
    <div style="align-self: auto; flex-grow:1">
        @Html.DisplayFor(model => model.Content)
    </div><!-- /panel panel-default -->
    @if ((Model.UserId == ViewBag.CurrentUser) || User.IsInRole("Administrator"))
    {
        <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/Comment/Edit/@Html.DisplayFor(model => model.CommentId)"> Edit</a></button>

        <button type="button" class=" deleteComment btn btn-sm btn-outline-secondary"> Delete</button>
    }
</div>
    </div>
    <script>

    $(document).ready(function () {
        $(".deleteComment").click(function (event) {
            event.stopPropagation();
            event.stopImmediatePropagation();
            $.ajax({
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ "commentId": @Model.CommentId}),
                url: '/Comment/Delete/@Model.CommentId',
                cache: false,
                contentType: 'application/json; charset=utf-8',
                success: function (serverAnswer) {
                    if (serverAnswer.success) {
                        alert("Comment deleted successfully!");
                        location.reload();
                    }
                    else {
                        alert("The request couldn't be processed, please try again :(")
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        })
    });
    </script>
