@{ICollection<FacePalm.Models.Comment> comments = Model.Comments.ToList();}
@model FacePalm.Models.Post
@using FacePalm.Models



<div style="width:90%;">
    @if (Model.ImagePath != null)
    {
        <div style="height: 600px; width: 400px; class="card mb-4 box-shadow">
            <img style="height: 600px; width: 400px; " class="card-img-top img-responsive" src="@Url.Content(Model.ImagePath)" />
        </div>
    }
        
        <div>
            <p class="card-text"> @Html.DisplayFor(model => model.ImageDescription) </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/Post/Show/@Html.DisplayFor(model => model.PostId)">View</a></button>
                    <button type="button" class="addComment btn btn-sm btn-outline-secondary">Add Comment</button>
                    @if (User.IsInRole("Administrator") || @ViewBag.CurrentUser == Model.UserId)
                    {
                       <form method="post" action="/Post/Delete/@Model.PostId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-danger btn-sm tip btn-responsive" type="submit">Delete</button>
                        </form>

                    }
                </div>

                <!--here comes the text area-->
            </div>
            
            <div>
                @if (comments.Count > 0)
                {
                    if (comments.Count >= 3)
                    {
                        var commsToDisplay = new List<Comment>();
                        commsToDisplay.Add(comments.ElementAt(comments.Count - 3));
                        commsToDisplay.Add(comments.ElementAt(comments.Count - 2));
                        commsToDisplay.Add(comments.ElementAt(comments.Count - 1));
                        foreach (var comm in commsToDisplay)
                        {
                            <div>
                                @Html.Partial("CommentInfo", comm)
                            </div>
                            <br />
                        }
                    }
                    else
                    {
                        foreach (var comm in comments)
                        {
                            <div>
                                @Html.Partial("CommentInfo", comm)
                            </div>
                            <br />
                        }
                    }
                }
            </div>
        </div>
    </div>
<script>
    $(document).ready(function () {
        $(".addComment").click(function (event) {
            event.stopPropagation();
            event.stopImmediatePropagation();
            var textArea = $('<input display="inline-block" class="form-control" placeholder="Write a comment..." type="text">');
            $(this).parent().parent().parent().append(textArea);
            var $submitButton = $('<button type="button" class="submitCommentBtn btn btn-sm btn-outline-secondary">Add</button>');
            $submitButton.on('click', function (e) {
                var textAreaValue = $(this).parent().children().eq(3).val();
                var userId = '@ViewBag.CurrentUser';
                var comment = {
                    PostId: @Model.PostId,
                    UserId: userId,
                    Content: textAreaValue,
                    Date: new Date($.now())
                };
                var thisButton = $(this);
                var thisTextArea = $(this).parent().children().eq(3);
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify({ "comment": comment }),
                    url: '/Comment/New',
                    cache: false,
                    contentType: 'application/json; charset=utf-8',
                    success: function (serverAnswer) {
                        if (serverAnswer.success) {
                            thisButton.remove();
                            thisTextArea.remove();
                            //Something to add the comm in the list
                            location.reload();
                        }
                        else {
                            alert("The request couldn't be processed, please try again :(")
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });
            });
            $(this).parent().parent().parent().append($submitButton);
            $(this).hide();
        });

    });
    
</script>