@model FacePalm.Models.Album

    <div class="album py-5 bg-light" style="opacity:0.9">
        <h2>@ViewBag.numeCreator's album: @Model.AlbumTitle</h2>
        <hr class="my-4" />
        <div class="container">
            <div class="row">
                @foreach (FacePalm.Models.Post post in ViewBag.Posts)
                {
                    @Html.Partial("PostInfo", post)
                }
            </div>
        </div>
    </div>

    <div class="btn-group-sm" role="group">
        @if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent)
        {
        <a class="btn btn-info" href="/Album/Index/">Back to albums</a>
        }

        @if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
        {
            using (Html.BeginForm(actionName: "Delete", controllerName: "Album", routeValues: new { id = @Model.AlbumId }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger btn-sm" type="submit">Delete album</button>
            }
        }
    </div>

