@model IEnumerable<FacePalm.Models.Post>


@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}
<table class="table table-hover">
    <tr class="table-light">
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table-light">
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary"><a style="color:white"href="/Post/Show/@item.PostId">View</a></button>                    <form method="post" action="/Post/Delete/@item.PostId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                         <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
</td>
        </tr>
    }

</table>
