@model FacePalm.Models.Post
@{ICollection<FacePalm.Models.Comment> comments = Model.Comments.ToList();}
    <div class="jumbotron">
        <h4>@ViewBag.numeCreator's post</h4>
        <p style="font-size:0.9rem; color:#5a5a5a">
            on @Html.DisplayFor(model => model.Date)
        </p>
        <hr class="my-4">

        <dl class="dl-horizontal">

            <p>
                @if (Model.ImageDescription != null)
                {
                    @Html.DisplayFor(model => model.ImageDescription)
                }
            </p>
            @if (Model.ImagePath != null)
            {
                <img src="@Url.Content(Model.ImagePath)" class="img-responsive" />
            }



        </dl>

        @if ((ViewBag.afisareButoane == true && Model.UserId == ViewBag.CurrentUser) || ViewBag.esteAdmin)
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-success" type="submit"><a style="color:white" href="/Post/Delete/@Model.PostId">Delete post</a></button>
        }
        @if (Model.UserId == ViewBag.CurrentUser || ViewBag.isFriend)
        {
            <button type="button" class="addCommentPostInfo btn btn-secondary">Add comment</button>
        }
        <br />
        <br />

        @foreach (var comm in comments)
        {
            <div>
                @Html.Partial("CommentInfo", comm)
            </div>
        }
    </div>

<script>
    $(document).ready(function () {
        $(".addCommentPostInfo").click(function (event) {
            event.stopPropagation();
            event.stopImmediatePropagation();
            var textArea = $('<textarea rows = "4" cols = "100%" id = "comment" class="d-flex justify-content-between align-items-center"/>');
            $(this).parent().append(textArea);
            var $submitButton = $('<button type="button" class="submitCommentBtnPostInfo btn btn-secondary">Add</button>');
            $submitButton.on('click', function (e) {
                var textAreaValue = $(this).parent().children().eq(5).val();
                var userId = '@ViewBag.CurrentUser';
                var comment = {
                    PostId: @Model.PostId,
                    UserId: userId,
                    Content: textAreaValue,
                    Date: new Date($.now())
                };
                var thisButton = $(this);
                var thisTextArea = $(this).parent().children().eq(5);
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify({ "comment": comment }),
                    url: '/Comment/New',
                    cache: false,
                    contentType: 'application/json; charset=utf-8',
                    success: function (serverAnswer) {
                        if (serverAnswer.success) {
                            thisButton.remove();
                            thisTextArea.remove();
                            //Something to add the comm in the list
                            location.reload();
                        }
                        else {
                            alert("The request couldn't be processed, please try again :(")
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });
            });
            $(this).parent().append($submitButton);
            $(this).hide();
        });

    });
</script>
