@model FacePalm.Models.Comment
<form method="post" action="/Comment/Edit/@Model.CommentId">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.CommentId)

    @Html.Label("Content", "Comment content")     
    @Html.EditorFor(m => m.Content)     
    
    @Html.HiddenFor(m => m.Date)     
    
    <button class="btn btn-sm btn-success" type="submit">Change</button>

</form>

